
body {
  margin: 3ex;
  font-family: sans-serif;
  color: black;
  background: white;
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

img {
    max-width: 100%;
}

:link { color: #00C; background: transparent }
:visited { color: #00C; background: transparent }
a:active {
 color: #00C; 
 font-weight: bolder;
 background: transparent; 
}

h1, h2, h3, h4 { 
	color: #005A9C;
	background: white 
}
h1 { 
	font: bold 170% sans-serif;
	text-align: center; 
}

h2 { font: bold 140% sans-serif }
h3 { font: bold 120% sans-serif }
h4 { font: bold 100% sans-serif }


h2 h3 h4 {
	text-align: left;
        margin-left: 5ex;
        margin-right: 5ex;
        margin-top: 0;
        margin-bottom: 0;
}

h3[class=course] {
	text-align:right;
}

p {
    display: block;
    margin: 1.33ex 1.33ex 1.33ex 1.33ex}

p[class=declaration] {
    font: 0.7em sans-serif;
    text-align: center; 
    margin: 1.33ex 1.33ex 1.33ex 1.33ex; 
    background-color: #DDC5C5; 
    padding: 2ex; 
}

p[class=ra] {
    white-space: pre;
    font: 125% monospace;
    margin: 1.33ex 0; 
    background-color: #FFEEEE; 
    border: thin solid gray; 
    padding: 2px; 
}

p[class=code] {
    white-space: pre;
    font: 125% monospace;
    margin: 1.33ex 0; 
    background-color: #EEEEEE; 
    border: thin solid gray; 
    padding: 2px; 
}

p[class=comment] {
    white-space: pre;
    font-style: italic;
    margin: 1.33ex 0; 
    color: maroon;
    background-color: silver;
    border: thin solid gray; 
    padding: 2px; 
}
 
table {
    display: table;
    border: solid;
   border-width: 0.1ex;
    padding: 0;
    background-color: silver;
}


td {
    display: table-cell; 
    border-style: solid;
    border-width: 0.1ex;
    padding: 0.5ex; 
}
